<!DOCTYPE html>
<html>

<head>
    <title>Registration Form</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>

    <h1>Registration Form</h1>
    <button onclick={loginWithGoogle}> Login with Google </button>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button class="btn btn-primary" id="google-signup" data-onsuccess="onGoogleSignUp">Sign up with Google</button>
        <input type="submit" value="Submit">
    </form>
    <script>

        function App() {
            const loginWithGoogle = () => {
                firebase.auth.signInWithPopUp(new firebase.auth.GoogleAuthProvider())
                    .then((Credential) => {
                        console.log(Credential)
                    })
                    .catch((error) => {
                        console.log("ERROR::::", error)
                    })
            }
        }
    </script>


</body>

</html>